{%extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Cursos
{% endblock %}

{% block body %}
<div class="container py-4"></div>
<h1>
    Bienvenido {{user.username}} iniciaste seccion
</h1>
<div class="carreras">
    <ul>
    {% if carreras %}
    {% for carrera in carreras %}
        <li class="nav-item">
            <a href="seleccion_carrera/{{carrera.codigo}}" class="btn btn-info">{{carrera.nombre}}</a>
        </li>
    {% endfor %}
    {% endif %}
    </ul>
</div>
{% endblock %}